#mission {
    padding: 60px 0;
    overflow: hidden;
    display: block;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    
}



div {
    display: block;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.before {
    content: "";
    margin: 0 15px 10px 0;
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
}
.after{
    content: "";
    margin: 0 15px 10px 0;
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block; 
}

@media (min-width: 992px) {
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}